<!--begin header-->
<header class="header">
    <div class="container">
        <div class="header__wrapper header_wrap">
            <div class="header_wrap__nav">
                <ul>
                    <li>
                        <a href="#/">
                            <img src="img/icon_panel.svg" alt="Icon">
                            Einstellungen
                        </a>
                    </li>
                    <li>
                        <a href="#/">
                            <img src="img/icon_dashboard.svg" alt="Icon">
                            Dashboard
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header_wrap__logo">
                <a href="#/">
                    <img src="img/logo.svg" alt="Logo">
                </a>
            </div>
            <div class="header_wrap__search">
                <div class="ui search">
                    <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="suchen">
                    </div>
                    <div class="results"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--end header-->