<!--begin content-->
<section class="content">
    <div class="container">
        <div class="content__filter content_filter">
            <div class="content_filter__list filter_list">
                <div class="ui styled accordion">
                    <!--begin filter item-->
                    <div class="title filter_list__topic">
                        Topic name 1
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="content">
                        <div class="accordion">
                            <div class="title filter_list__week active">
                                Week 1
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="content filter_list__content active">
                                <ul>
                                    <li><a href="#/">Content 1</a></li>
                                    <li class="active"><a href="#/">Content 2</a></li>
                                    <li><a href="#/">Content 3</a></li>
                                </ul>
                            </div>
                            <div class="title filter_list__week">
                                Week 2
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="content">
                                Test
                            </div>
                            <div class="title filter_list__week">
                                Week 3
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="content">
                                test
                            </div>
                        </div>
                    </div>
                    <!--end filter item-->
                    <!--begin filter item-->
                    <div class="title filter_list__topic active">
                        Topic name 2
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="active content">
                        <div class="accordion">
                            <div class="title filter_list__week">
                                Week 1
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="content filter_list__content">
                                <ul>
                                    <li><a href="#/">Content 1</a></li>
                                    <li class="active"><a href="#/">Content 2</a></li>
                                    <li><a href="#/">Content 3</a></li>
                                </ul>
                            </div>
                            <div class="title filter_list__week">
                                Week 2
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="content">
                                test
                            </div>
                            <div class="title filter_list__week">
                                Week 3
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="content">
                                test
                            </div>
                        </div>
                    </div>
                    <!--end filter item-->
                    <!--begin filter item-->
                    <div class="title filter_list__topic">
                        Topic name 3
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="content">
                        <div class="accordion">
                            <div class="title filter_list__week active">
                                Week 1
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="content filter_list__content active">
                                <ul>
                                    <li><a href="#/">Content 1</a></li>
                                    <li class="active"><a href="#/">Content 2</a></li>
                                    <li><a href="#/">Content 3</a></li>
                                </ul>
                            </div>
                            <div class="title filter_list__week">
                                Week 2
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="content">
                                Test
                            </div>
                            <div class="title filter_list__week">
                                Week 3
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="content">
                                test
                            </div>
                        </div>
                    </div>
                    <!--end filter item-->
                    <!--begin filter item-->
                    <div class="title filter_list__topic">
                        Topic name 4
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="content">
                        <div class="accordion">
                            <div class="title filter_list__week">
                                Week 1
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="content filter_list__content">
                                <ul>
                                    <li><a href="#/">Content 1</a></li>
                                    <li class="active"><a href="#/">Content 2</a></li>
                                    <li><a href="#/">Content 3</a></li>
                                </ul>
                            </div>
                            <div class="title filter_list__week">
                                Week 2
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="content">
                                Test
                            </div>
                            <div class="title filter_list__week">
                                Week 3
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="content">
                                test
                            </div>
                        </div>
                    </div>
                    <!--end filter item-->
                </div>
            </div>
        </div>
        <div class="content__wrapper content_wrap">
            <div class="content_wrap__title">
                <h2 class="title">Topic name 2 / <b>Week 2</b></h2>
            </div>
            <!--begin content item-->
            <div class="content_wrap__item content_item">
                <div class="content_item__info" style="background-image: url('img/img_topic_1.jpg')">
                    <h3 class="title">Title</h3>
                </div>
                <div class="content_item__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam architecto consectetur deserunt ex exercitationem fugit hic id illo in ipsum laboriosam, maiores molestias mollitia nobis obcaecati perspiciatis, reprehenderit tempora!</p>
                </div>
                <div class="content_item__btn">
                    <a class="btn_empty" href="#/">Mehr</a>
                </div>
            </div>
            <!--end content item-->
            <!--begin content item-->
            <div class="content_wrap__item content_item">
                <div class="content_item__info" style="background-image: url('img/img_topic_2.jpg')">
                    <h3 class="title">Title</h3>
                </div>
                <div class="content_item__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam architecto consectetur deserunt ex exercitationem fugit hic id illo in ipsum laboriosam, maiores molestias mollitia nobis obcaecati perspiciatis, reprehenderit tempora!</p>
                </div>
                <div class="content_item__btn">
                    <a class="btn_empty" href="#/">Mehr</a>
                </div>
            </div>
            <!--end content item-->
            <!--begin content item-->
            <div class="content_wrap__item content_item">
                <div class="content_item__info" style="background-image: url('img/img_topic_3.jpg')">
                    <h3 class="title">Title</h3>
                </div>
                <div class="content_item__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam architecto consectetur deserunt ex exercitationem fugit hic id illo in ipsum laboriosam, maiores molestias mollitia nobis obcaecati perspiciatis, reprehenderit tempora!</p>
                </div>
                <div class="content_item__btn">
                    <a class="btn_empty" href="#/">Mehr</a>
                </div>
            </div>
            <!--end content item-->
        </div>
    </div>
</section>
<!--end content-->