<!--begin posts-->
<section class="themes">
    <div class="container">
        <div class="themes__wrapper themes_wrap">
            <!--begin posts item-->
            <div class="themes_wrap__item themes_item">
                <div class="themes_item__info themes_info" style="background-image: url('img/img_post_1.jpg')">
                    <div class="themes_info__title">
                        <h3 class="title">Stress</h3>
                    </div>
                    <div class="themes_info__btn">
                        <a class="btn_green" href="#/">Zum Thema</a>
                    </div>
                </div>
                <div class="themes_item__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                 </div>
            </div>
            <!--end posts item-->
            <!--begin posts item-->
            <div class="themes_wrap__item themes_item">
                <div class="themes_item__info themes_info" style="background-image: url('img/img_post_2.jpg')">
                    <div class="themes_info__title">
                        <h3 class="title">Verändere und finde dich selbst</h3>
                    </div>
                    <div class="themes_info__btn">
                        <a class="btn_green" href="#/">Zum Thema</a>
                    </div>
                </div>
                <div class="themes_item__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <!--end posts item-->
            <!--begin posts item-->
            <div class="themes_wrap__item themes_item">
                <div class="themes_item__info themes_info" style="background-image: url('img/img_post_3.jpg')">
                    <div class="themes_info__title">
                        <h3 class="title">Irgendein Thema</h3>
                    </div>
                    <div class="themes_info__btn">
                        <a class="btn_green" href="#/">Zum Thema</a>
                    </div>
                </div>
                <div class="themes_item__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <!--end posts item-->
        </div>
    </div>
</section>
<!--end posts-->
<!--begin events-->
<section class="events">
    <div class="container">
        <div class="events__title">
            <h2 class="title">Kommende Veranstaltungen</h2>
        </div>
        <div class="events__wrapper events_wrap">
            <!--begin events item-->
            <div class="events_wrap__item events_item" style="background-image: url('img/img_event_1.jpg')">
                <div class="events_item__info events_info">
                    <h3 class="title">Veranstaltungstitel</h3>
                    <div class="events_info__date">
                        <img src="img/icon_date.svg" alt="Icon">
                        01 nov. 2018
                    </div>
                    <div class="events_info__time">
                        <img src="img/icon_time.svg" alt="Time">
                        02:00 PM
                    </div>
                </div>
                <div class="events_item__btn">
                    <a class="btn_white" href="#/">Mehr</a>
                </div>
            </div>
            <!--end events item-->
            <!--begin events item-->
            <div class="events_wrap__item events_item" style="background-image: url('img/img_event_2.jpg')">
                <div class="events_item__info events_info">
                    <h3 class="title">Veranstaltungstitel</h3>
                    <div class="events_info__date">
                        <img src="img/icon_date.svg" alt="Icon">
                        01 nov. 2018
                    </div>
                    <div class="events_info__time">
                        <img src="img/icon_time.svg" alt="Time">
                        02:00 PM
                    </div>
                </div>
                <div class="events_item__btn">
                    <a class="btn_white" href="#/">Mehr</a>
                </div>
            </div>
            <!--end events item-->
            <!--begin events item-->
            <div class="events_wrap__item events_item" style="background-image: url('img/img_event_3.jpg')">
                <div class="events_item__info events_info">
                    <h3 class="title">Veranstaltungstitel</h3>
                    <div class="events_info__date">
                        <img src="img/icon_date.svg" alt="Icon">
                        01 nov. 2018
                    </div>
                    <div class="events_info__time">
                        <img src="img/icon_time.svg" alt="Time">
                        02:00 PM
                    </div>
                </div>
                <div class="events_item__btn">
                    <a class="btn_white" href="#/">Mehr</a>
                </div>
            </div>
            <!--end events item-->
            <!--begin events item-->
            <div class="events_wrap__item events_item" style="background-image: url('img/img_event_4.jpg')">
                <div class="events_item__info events_info">
                    <h3 class="title">Veranstaltungstitel</h3>
                    <div class="events_info__date">
                        <img src="img/icon_date.svg" alt="Icon">
                        01 nov. 2018
                    </div>
                    <div class="events_info__time">
                        <img src="img/icon_time.svg" alt="Time">
                        02:00 PM
                    </div>
                </div>
                <div class="events_item__btn">
                    <a class="btn_white" href="#/">Mehr</a>
                </div>
            </div>
            <!--end events item-->
        </div>
    </div>
</section>
<!--end events-->