$r-768: 768px;
$r-992: 992px;
$r-1024: 1024px;
$r-1200: 1200px;

body {
  // break max-768
  @media only screen and (max-width: $r-768 - 1) {
    .header_wrap {
      flex-direction: column;
      &__nav,
      &__logo,
      &__search {
        width: 100%;
        margin-bottom: 15px;
      }
      &__nav {
        ul {
          justify-content: center;
        }
      }
      &__search {
        text-align: center;
      }
    }
    .content  {
      .container {
        flex-direction: column;
      }
      &__filter,
      &__wrapper {
        width: 100%;
        margin-bottom: 30px;
      }
    }
    .content_single {
      width: 100%;
    }
    .content_single__btns {
      flex-direction: column;
      a {
        margin-bottom: 15px;
      }
    }
    .themes_item__info,
    .events_item,
    .content_item__info {
      background-position: center;
    }
  }
  // break min- 768 max-1200
  @media only screen and (min-width: $r-768 + 1) and (max-width: $r-1200) {
    .content {
      &__filter {
        width: 30%;
      }
      &__wrapper {
        width: 65%;
      }
    }
  }

  // break max-1200
  @media only screen and (max-width: $r-1200) {
    .container {
      padding: 0 15px;
    }
  }
}
